/* OTF FONTS START */
@font-face {
    font-family: 'Aztec';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Aztec.otf') format('opentype');
}
@font-face {
    font-family: 'Onest';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Onest.otf') format('opentype');
}
@font-face {
    font-family: 'SpyDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/SpyDolls.otf') format('opentype');
}
@font-face {
    font-family: 'RussianDollmaker';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/RussianDollmaker.otf') format('opentype');
}
@font-face {
    font-family: 'SymbolFont';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/SymbolFont.otf') format('opentype');
}
@font-face {
    font-family: 'Vogue';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Vogue.otf') format('opentype');
}
@font-face {
    font-family: 'VoodoDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/VoodoDolls.otf') format('opentype');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Aileron.otf') format('opentype');
}
@font-face {
    font-family: 'RobotoFlex';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/RobotoFlex.otf') format('opentype');
}
@font-face {
    font-family: 'Apercu';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Apercu.otf') format('opentype');
}
@font-face {
    font-family: 'Osaka';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Osaka.otf') format('opentype');
}
@font-face {
    font-family: 'CourierNew';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/CourierNew.otf') format('opentype');
}
@font-face {
    font-family: 'DotMatrix';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/DotMatrix.otf') format('opentype');
}
@font-face {
    font-family: 'Raleway';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Raleway.otf') format('opentype');
}
@font-face {
    font-family: 'CircularMedium';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/CircularMedium.otf') format('opentype');
}
@font-face {
    font-family: 'Triest';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Triest.otf') format('opentype');
}
@font-face {
    font-family: 'Drip';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Drip.otf') format('opentype');
}
@font-face {
    font-family: 'CormorantItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/CormorantItalic.otf') format('opentype');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Couture.otf') format('opentype');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Cybperunk.otf') format('opentype');
}
@font-face {
    font-family: 'FiraCode-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/FiraCode-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'FreshLychee';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/FreshLychee.otf') format('opentype');
}
@font-face {
    font-family: 'Garamond';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Garamond.otf') format('opentype');
}
@font-face {
    font-family: 'GaramondItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/GaramondItalic.otf') format('opentype');
}
@font-face {
    font-family: 'MC';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/MC.otf') format('opentype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Merriweather-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'MMD';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/MMD.otf') format('opentype');
}
@font-face {
    font-family: 'OrangeSlice';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/OrangeSlice.otf') format('opentype');
}
@font-face {
    font-family: 'Ostrich';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Ostrich.otf') format('opentype');
}
@font-face {
    font-family: 'OstrichThin';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/OstrichThin.otf') format('opentype');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/PlayfairDisplay-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'PSB';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/PSB.otf') format('opentype');
}
@font-face {
    font-family: 'VT323';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/VT323.otf') format('opentype');
}
@font-face {
    font-family: 'Lobster';
    src: url('https://angeldollface.art/doll-cdn/fonts/otf/Lobster.otf') format('opentype');
}
/* OTF FONTS END */

/* TTF FONTS START */
@font-face {
    font-family: 'Onest';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Onest.ttf') format('truetype');
}
@font-face {
    font-family: 'Aztec';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Aztec.ttf') format('truetype');
}
@font-face {
    font-family: 'SpyDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/SpyDolls.ttf') format('truetype');
}
@font-face {
    font-family: 'RussianDollmaker';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/RussianDollmaker.ttf') format('truetype');
}
@font-face {
    font-family: 'SymbolFont';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/SymbolFont.ttf') format('truetype');
}
@font-face {
    font-family: 'Vogue';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Vogue.ttf') format('truetype');
}
@font-face {
    font-family: 'VoodoDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/VoodoDolls.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Aileron.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoFlex';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/RobotoFlex.ttf') format('truetype');
}
@font-face {
    font-family: 'Apercu';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Apercu.ttf') format('truetype');
}
@font-face {
    font-family: 'Osaka';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Osaka.ttf') format('truetype');
}
@font-face {
    font-family: 'CourierNew';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/CourierNew.ttf') format('truetype');
}
@font-face {
    font-family: 'Triest';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Triest.ttf') format('truetype');
}
@font-face {
    font-family: 'Drip';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Drip.ttf') format('truetype');
}
@font-face {
    font-family: 'CormorantItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/CormorantItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'DotMatrix';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/DotMatrix.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Raleway.ttf') format('truetype');
}
@font-face {
    font-family: 'CircularMedium';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/CircularMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Couture.ttf') format('truetype');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Cybperunk.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraCode-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreshLychee';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/FreshLychee.ttf') format('truetype');
}
@font-face {
    font-family: 'Garamond';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Garamond.ttf') format('truetype');
}
@font-face {
    font-family: 'GaramondItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/GaramondItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MC';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/MC.ttf') format('truetype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MMD';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/MMD.ttf') format('truetype');
}
@font-face {
    font-family: 'OrangeSlice';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/OrangeSlice.ttf') format('truetype');
}
@font-face {
    font-family: 'Ostrich';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Ostrich.ttf') format('truetype');
}
@font-face {
    font-family: 'OstrichThin';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/OstrichThin.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PSB';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/PSB.ttf') format('truetype');
}
@font-face {
    font-family: 'VT323';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/VT323.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('https://angeldollface.art/doll-cdn/fonts/ttf/Lobster.otf') format('truetype');
}
/* TTF FONTS END */

/* WOFF FONTS START */
@font-face {
    font-family: 'Onest';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Onest.woff') format('woff');
}
@font-face {
    font-family: 'Aztec';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Aztec.woff') format('woff');
}
@font-face {
    font-family: 'SpyDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/SpyDolls.woff') format('woff');
}
@font-face {
    font-family: 'RussianDollmaker';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/RussianDollmaker.woff') format('woff');
}
@font-face {
    font-family: 'SymbolFont';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/SymbolFont.woff') format('woff');
}
@font-face {
    font-family: 'Vogue';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Vogue.woff') format('woff');
}
@font-face {
    font-family: 'VoodoDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/VoodoDolls.woff') format('woff');
}
@font-face {
    font-family: 'Triest';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Triest.woff') format('woff');
}
@font-face {
    font-family: 'Drip';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Drip.woff') format('woff');
}
@font-face {
    font-family: 'CormorantItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/CormorantItalic.woff') format('woff');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Aileron.woff') format('woff');
}
@font-face {
    font-family: 'RobotoFlex';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/RobotoFlex.woff') format('woff');
}
@font-face {
    font-family: 'Apercu';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Apercu.woff') format('woff');
}
@font-face {
    font-family: 'Osaka';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Osaka.woff') format('woff');
}
@font-face {
    font-family: 'CourierNew';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/CourierNew.woff') format('woff');
}
@font-face {
    font-family: 'DotMatrix';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/DotMatrix.woff') format('woff');
}
@font-face {
    font-family: 'Raleway';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Raleway.woff') format('woff');
}
@font-face {
    font-family: 'CircularMedium';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/CircularMedium.woff') format('woff');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Couture.woff') format('woff');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Cybperunk.woff') format('woff');
}
@font-face {
    font-family: 'FiraCode-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/FiraCode-Regular.woff') format('woff');
}
@font-face {
    font-family: 'FreshLychee';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/FreshLychee.woff') format('woff');
}
@font-face {
    font-family: 'Garamond';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Garamond.woff') format('woff');
}
@font-face {
    font-family: 'GaramondItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/GaramondItalic.woff') format('woff');
}
@font-face {
    font-family: 'MC';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/MC.woff') format('woff');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Merriweather-Regular.woff') format('woff');
}
@font-face {
    font-family: 'MMD';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/MMD.woff') format('woff');
}
@font-face {
    font-family: 'OrangeSlice';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/OrangeSlice.woff') format('woff');
}
@font-face {
    font-family: 'Ostrich';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Ostrich.woff') format('woff');
}
@font-face {
    font-family: 'OstrichThin';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/OstrichThin.woff') format('woff');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/PlayfairDisplay-Regular.woff') format('woff');
}
@font-face {
    font-family: 'PSB';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/PSB.woff') format('woff');
}
@font-face {
    font-family: 'VT323';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/VT323.woff') format('woff');
}
@font-face {
    font-family: 'Lobster';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff/Lobster.woff') format('woff');
}
/* WOFF FONTS END */

/* WOFF2 FONTS START */
@font-face {
    font-family: 'Onest';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Onest.woff2') format('woff2');
}
@font-face {
    font-family: 'Aztec';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Aztec.woff2') format('woff2');
}
@font-face {
    font-family: 'SpyDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/SpyDolls.woff2') format('woff2');
}
@font-face {
    font-family: 'RussianDollmaker';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/RussianDollmaker.woff2') format('woff2');
}
@font-face {
    font-family: 'SymbolFont';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/SymbolFont.woff2') format('woff2');
}
@font-face {
    font-family: 'Vogue';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Vogue.woff2') format('woff2');
}
@font-face {
    font-family: 'VoodoDolls';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/VoodoDolls.woff2') format('woff2');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Aileron.woff2') format('woff2');
}
@font-face {
    font-family: 'CourierNew';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/CourierNew.woff2') format('woff2');
}
@font-face {
    font-family: 'DotMatrix';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/DotMatrix.woff2') format('woff2');
}
@font-face {
    font-family: 'Raleway';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Raleway.woff2') format('woff2');
}
@font-face {
    font-family: 'CircularMedium';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/CircularMedium.woff2') format('woff2');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Couture.woff2') format('woff2');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Cybperunk.woff2') format('woff2');
}
@font-face {
    font-family: 'FiraCode-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/FiraCode-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'FreshLychee';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/FreshLychee.woff2') format('woff2');
}
@font-face {
    font-family: 'Garamond';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Garamond.woff2') format('woff2');
}
@font-face {
    font-family: 'GaramondItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/GaramondItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'MC';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/MC.woff2') format('woff2');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Merriweather-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'MMD';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/MMD.woff2') format('woff2');
}
@font-face {
    font-family: 'OrangeSlice';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/OrangeSlice.woff2') format('woff2');
}
@font-face {
    font-family: 'Ostrich';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Ostrich.woff2') format('woff2');
}
@font-face {
    font-family: 'OstrichThin';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/OstrichThin.woff2') format('woff2');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/PlayfairDisplay-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'PSB';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/PSB.woff2') format('woff2');
}
@font-face {
    font-family: 'VT323';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/VT323.woff2') format('woff2');
}
@font-face {
    font-family: 'Triest';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Triest.woff2') format('woff2');
}
@font-face {
    font-family: 'Drip';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Drip.woff2') format('woff2');
}
@font-face {
    font-family: 'CormorantItalic';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/CormorantItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'RobotoFlex';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/RobotoFlex.woff2') format('woff2');
}
@font-face {
    font-family: 'Apercu';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Apercu.woff2') format('woff2');
}
@font-face {
    font-family: 'Osaka';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Osaka.woff2') format('woff2');
}
@font-face {
    font-family: 'Lobster';
    src: url('https://angeldollface.art/doll-cdn/fonts/woff2/Lobster.woff2') format('woff2');
}
/* WOFF2 FONTS END */